package templates

templ Hello(name string) {
	<div>Hello, { name }</div>
}

templ HeaderTemplate() {
	<header data-testid="headerTemplate">
		<h1>Header</h1>
		<p>Some text</p>
	</header>
}

type FooterProps struct {
	Links map[string]templ.SafeURL
}

templ FooterTemplate(links FooterProps) {
	<footer data-testid="footerTemplate">
		for key, value := range links.Links {
			<a href={ value }>{ key }</a>
		}
	</footer>
}
