package templates

templ Main(title string) {
	// whole page body
	<html>
		<head>
			<title>My Page</title>
		</head>
		<body>
			<h1>My Page</h1>
			<p>My page is { title }</p>
		</body>
	</html>
}
